

.card-container{
    display: inline-block;
    padding: 1rem;
    height: 200px;
    width: 20%;
    overflow: hidden;
    box-shadow: 0px 0px 15px 8px;
    text-align: center;
    background-color: rgb(32, 10, 233);
    margin-left: 8%;
    margin-top: 2%;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    
}
.card-title{
    color: rgba(235, 155, 8, 0.945);
    padding: auto;

}


.card-body{
    color: rgb(10, 224, 46);
    padding: auto;
}
.links{
    color: rgb(206, 21, 21);
    align-self: auto;
}
.btn{
    background-color: #0cf014; 
    border: 5%;
    color: rgb(223, 209, 11);
    padding: 5px 16px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 20px 6px;
    border-radius: 8px;    
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(224, 131, 24, 0.301);
    color: rgb(255, 255, 255);
    text-align: center;
 }
 







